include:
  - project: 'interaktiv/gitlab-ci-templates'
    ref: 'master'
    file: '.gitlab-ci-build.yml'

cache:
  paths:
    - eggs
    - node_modules
  key: ${CI_JOB_IMAGE} # same cache per Job Image

#############################################
# Pipelines
#############################################
stages:
  - test
  - bridge

test:
  stage: test
  image: "python:3.11-bookworm"
  extends:
    - .build-dependencies-plone
    - .run-test-package
